img {
    display: grid;
    width: 40%;
    grid-column-start: 1, 3;
}





head {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: rgb(242, 133, 0);
    margin: -10px;
}

body > main {
    margin: 20px;
}

body > header {
    overflow: auto;
    background-color: white;
}

body > footer > h3 {
    display:flex;
    justify-content: center;
}

body > footer > ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}

body > footer > ul > li > a:hover {
    color: white;
    cursor:pointer;
}

h1 {
display:flex;
justify-content: center;
}

#logo {
    font-size: x-large;
    padding: 16px;
}

nav {
    background-color: black;
    height: 6rem;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav > ul > li {
    display: flex;
    justify-content:center;
    color: white;
    font-size: large;
    list-style: None;
    margin-right: 16px;
}

nav > ul > li > a {
    color: white;
    text-decoration: None;
}

nav > ul > li > a:hover{
    text-decoration:underline;
}

