<html>
    <head>
        <title>{{Title}}</title>

        <link rel="stylesheet" href="static/style.css" />
        
    </head>
    <body>
        <header>
        <h1>{{order.title}}</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="http://127.0.0.1:4999/orders">Home</a>
                </li>
            </ul>
        </nav>

        <p> {{order.customer_name}} ordered {{order.quantity}} copies of {{order.title}} by {{order.publisher}}.
        </p>
        <p>
            Date: {{order.order_date}}
        </p>
        <br>
        <p>
        <img src='../static/Zelda.avif' alt='Pic of order'>
        </p>
    </body>
</html>